*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 30px;
}

.main{
    position: relative;

}

.block1{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    left: 40px;
}

.block2{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    display: inline-block;
    position: absolute;
    left: 280px;
}

.block3{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    display: inline-block;
    position: absolute;
    left: 520px;
}
.main2{
    position: relative;
    margin-top: 300px;
    margin-left: 40px;

}

.block4{
    width: 200px;
    height: 200px;
    border: 1px solid red ;
    display: inline-block;
    position: absolute;
    
    
}

.block5{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 120px;
    
}

.block6{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 250px;
    
}

.main3{
    position: relative;
    margin-top: 500px;
    margin-left: 40px;

}

.block7{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    display: inline-block;
    position: absolute;
    
    
}

.block8{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 120px;
    
}

.block9{
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 250px;
    
}

.main4{
    position: relative;
    margin-top: 500px;
    margin-left: 40px;

}

.block10{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    display: inline-block;
    position: absolute;
    
    
}

.block11{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 2;
    
}

.block12{
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 250px;
    
}

.main5{
    position: relative;
    margin-top: 500px;
    margin-left: 40px;

}

.block13{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    display: inline-block;
    position: absolute;
    z-index: 2;
    
    
}

.block14{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 120px;
    
    
}

.block15{
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: 2;
    
}

.main6{
    position: relative;
    margin-top: 500px;
    margin-left: 40px;
}

.block16{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    display: inline-block;
    position: absolute;
    z-index: 4; 
}

.block17{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 2;  
}

.block18{
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 250px; 
}
