.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "aside-left aside-right"
        "footer footer";
    gap: 10px;
}

header {
    grid-area: header;
    background-color: rgb(202, 94, 6);
    padding: 20px;
}

aside {
    grid-area: aside-left;
    background-color: aqua;
    padding: 20px;
}

article {
    grid-area: aside-right;
    background-color: aqua;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: rgb(202, 94, 6);
    padding: 20px;
}

@media (max-width: 600px) {
    .wrapper {
        grid-template-columns: 4fr;
        grid-template-areas: 
            "header"
            "aside-left"
            "aside-right"
            "footer"
    }
}

.wrapper-task {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    color: red;
    margin-top: 20px;
    gap: 10px;
}

.box_a {
    display: grid;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 10px;
    padding-top: 10px;
}

.box_b {
    display: grid;
    background-color: black;
    grid-column-start: 4;
    grid-column-end: 5;

}

.box_c {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box_d {
    background-color: black;

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box_e {
    background-color: grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box_f {
    background-color: grey;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box_g {
    background-color: grey;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}